{% extends 'todo/_base_todo.html' %}
{% load date_timesince %}
{% block content_page %}

<div>
    <h2 class="text-center alert">Все выполненные задания</h2>
</div>
{% if todos %}
<div class="row justify-content-sm-center">
    <div class="list-group col-md-8 ">
        {% for todo in todos %}
            <a href="{% url 'todo:view-todo' todo.id %}" class="list-group-item list-group-item-action border flex-column mb-4 hover {% if todo.important %}impt{% endif %}" 
                >
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{todo.title}}</h5>

                </div>
                {% if todo.memo %}
                    <p class="ml-4 mb-1">{{ todo.memo|truncatechars:200 }}</p>
                {% endif %}

                <div class="d-flex w-100 justify-content-end">
                    <small class="pr-4">Создано: {{ todo.created|date:"M, j Y H:i" }}</small>
                    <small class="pr-4">Выполнено: {{ todo.datecompleted|date:"M, j Y H:i" }}</small>
                    

                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% else %}
<div>
    <h4 class="text-center mb-4 mt-4 pb-4 pt-4">Ни одно задание еще не выполнено!</h4>
</div>
{% endif %}
<div class="mt-2 mb-4 text-center">
    <a href="{% url 'todo:current-todos'%}" class="pl-2 pr-2">Текущие задания</a> |
    <a href="{% url 'todo:create-todo'%}" class="pl-2 pr-2">Создать новое задание</a>
</div>
{% endblock %}
{% block style_add %}
<style>
    .impt{
        background-color: rgba(204, 78, 78, 0.1);
    }
    .hover:hover{
        background-color: rgba(70, 226, 140, 0.1);
    }
</style>
{% endblock style_add %}