{% extends 'core/base.html' %}



{% block content %}
<div>
    <div class="text text-center alert">
        <h2>Главная страница</h2>
    </div>
    <div class="link alert">
        <a href="{% url 'password-app:password' %}">Генератор пароля</a>
    </div>
    <div class="link alert">
        <a href="{% url 'todo:current-todos' %}">ToDo приложение</a>
    </div>
    <div class="link alert">
        <a href="{% url 'text-manipulation:count-smt' %}">Работа с текстом</a>
    </div>
</div>


{% endblock content %}