{% extends 'core/base.html' %}
{% block content %}
    <div>  
        <h2 class="text-center alert">Генератор паролів</h2>
        <div class="form border text-center alert">
            <form action="" method="GET">
                <div class="form-group">
                    <select name="length" id="length">
                        <option value="8" {%if default_length == 8 %}selected{% endif %}>8</option>
                        <option value="9" {%if default_length == 9 %}selected{% endif %}>9</option>
                        <option value="10" {%if default_length == 10 %}selected{% endif %}>10</option>
                        <option value="11" {%if default_length == 11 %}selected{% endif %}>11</option>
                        <option value="12" {%if default_length == 12 %}selected{% endif %}>12</option>
                        <option value="13" {%if default_length == 13 %}selected{% endif %}>13</option>
                        <option value="14" {%if default_length == 14 %}selected{% endif %}>14</option>
                        <option value="15" {%if default_length == 15 %}selected{% endif %}>15</option>
                        <option value="16" {%if default_length == 16 %}selected{% endif %}>16</option>
                        <option value="17" {%if default_length == 17 %}selected{% endif %}>17</option>
                        <option value="18" {%if default_length == 18 %}selected{% endif %}>18</option>
                    </select>
                    <label for="length">Довжина пароля</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="uppercase" id="uppercase" {%if default_uppercase %}checked{% endif %}>
                    <label for="uppercase"> Використовувати заглавні букви</label>
                    
                </div>
                <div class="form-group">
                    <input type="checkbox" name="numbers" id="numbers" {%if default_numbers %}checked{% endif %}>
                    <label for="numbers"> Використовувати цифри</label>
                    
                </div>
                <div class="form-group">
                    <input type="checkbox" name="special" id="special" {%if default_special %}checked{% endif %}>
                    <label for="special"> Використовувати спеціальні символи</label>
                    
                </div>

                <input type="submit" value="Сгенерувати" class="btn btn-primary">
            </form>
        </div>
        
        {% if password %}
        <div class="text-center alert alert-success">
            <h2>{{ password }}</h2>
        </div>
        {% endif %}
    </div> 
    
    <div class="link">
        <a href="{% url 'index-page' %}" class="btn btn-primary">Головна</a>
    </div>
{% endblock content %}

{% block style_add %}
<style>
    .link {
        position: fixed;
        top: 30px;
        left: 30px;
        line-height: 1px;
    }
</style>
{% endblock style_add %}