{% extends 'core/base.html' %}
{% block nav_list_link %}
    <!-- <h4 class="">Посчитать количество букв или слов в тексте</h4> -->
{% endblock nav_list_link %}
{% block content %}
<div>
    <h2 class="text-center alert">Посчитать количество букв или слов в тексте</h2>
</div>
<div class="pt-4 mt-4">
    <form method="POST" action="{% url 'text-manipulation:count-smt'%}">
        {% csrf_token %}
        <div class="form-group form-inline">
            <label for="whatCount">Посчитать количество</label>
            <select class="form-control mx-sm-3" id="whatCount" name="what_count">
                <option value="letter" {% if what_count == 'letter'%}selected{% endif %}>букв в тексте</option>
                <option value="word" {% if what_count == 'word'%}selected{% endif %}>слов в тексте</option>
            </select>
        </div>
        <div class="form-group">
            <label for="text">Текст</label>
            <textarea class="form-control" id="text" name="text" rows="3" >{{text}}</textarea>
        </div>
        <input type="submit" name="count" class="btn btn-primary mb-2" value="Посчитать">
    </form>
</div>
{% if response %}
<div class="mt-4">
    <div class="text-center alert alert-success">
        <h2>{{ response }}</h2>
    </div>
</div>

{% endif %}

{% endblock content %}

{% block script_add %}
<script>
</script>
{% endblock script_add %}

{% block style_add %}
<style>
</style>
{% endblock style_add %}